NI_BEGIN NIProjectConfiguration mainProject
NI_BEGIN NIProjectConfigurationDomain
   NAME                       Main Project
   ROTATING                   -1
   PHYSICAL_STATE             0
   CONTAINER                  0
   NI_BEGIN NIProjectConfigurationDomain
      NAME                       IGG Core Flow 1
      ROTATING                   -1
      PHYSICAL_STATE             0
      CONTAINER                  0
      NIProjectConfigurationBcs  Inlet 1
      NIProjectConfigurationBcs  Outlet 1
      NIProjectConfigurationBcs  Solid 1
      NIProjectConfigurationBcs  Solid 2
      BLOCK_NAME                 cil
   NI_END   NIProjectConfigurationDomain
NI_END   NIProjectConfigurationDomain
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /IGG Core Flow 1/Inlet 1
   FREE_BC_TYPE               Inlet
   BC_TYPE                    Inlet
   ROTATING                   -1
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 5 1 undefined cil
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /IGG Core Flow 1/Outlet 1
   FREE_BC_TYPE               Outlet
   BC_TYPE                    Outlet
   ROTATING                   -1
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 6 1 undefined cil
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /IGG Core Flow 1/Solid 1
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   -1
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 3 1 undefined cil
NI_END   NIProjectConfigurationBcs
NI_BEGIN NIProjectConfigurationBcs
   NAME                       /IGG Core Flow 1/Solid 2
   FREE_BC_TYPE               Solid
   BC_TYPE                    Solid
   ROTATING                   -1
   ACOUSTIC_SOURCE            0
   CONNECTED                  0
   CONNECTED_DOMAIN           undefined
   COLOR_ATTRIBUTES           1 1 1 0.8 0.8 0.8 1 1 1 10 1 0 
   NIStructuredPatch          -1 4 1 undefined cil
NI_END   NIProjectConfigurationBcs
NI_END   NIProjectConfiguration mainProject
