##############################
# Empty OpenLabs Resource
# (c) NUMECA Int.
##############################


=>CONSTANTS

=>EQUATIONS

=>CUSTOM_BOUNDARY_CONDITIONS
@ CUSTOMIZED_BOUNDARY_CONDITION: outlet
->EXPRESSION: 101300
->ExistingBC: "Static Pressure" , cil_group_4



=>ALGEBRAIC_DIFFUSION_COEFFICIENTS

=>INITIAL_PROFILES

=>SOURCETERMS

=>CUSTOM_FLUID_PROPERTIES 

=>AUXTERMS

=>ADDITIONAL_INFORMATION
