##############################
# Empty OpenLabs Resource
# (c) NUMECA Int.
##############################


=>CONSTANTS

=>EQUATIONS

=>CUSTOM_BOUNDARY_CONDITIONS

=>ALGEBRAIC_DIFFUSION_COEFFICIENTS

=>INITIAL_PROFILES

=>SOURCETERMS

=>CUSTOM_FLUID_PROPERTIES 

=>AUXTERMS

=>ADDITIONAL_INFORMATION
