##############################
# Empty OpenLabs Resource
# (c) NUMECA Int.
##############################


=>CONSTANTS

=>EQUATIONS

=>INTERNAL_BOUNDARY_CONDITIONS
@ InternalBC_OUT: cil_group_4 [4] 
->Imposed_Physical_Variables: "StaticPressure"


=>CUSTOM_BOUNDARY_CONDITIONS
#@ CUSTOMIZED_BOUNDARY_CONDITION: outlet
#->EXPRESSION: 101325 - 9.81*AverageDensity / Volume *1.5 
#->ExistingBC: "Average Pressure" , cil_group_4


@CUSTOMIZED_BOUNDARY_CONDITION: ZeroGradient
->EXPRESSION: 0
->TypeBC: Neumann


=>ALGEBRAIC_DIFFUSION_COEFFICIENTS

=>INITIAL_PROFILES

#@ INITIAL_FIELD: newStaticPressure
#->EXPRESSION: 101325 - 9.81*1.17507455268*zCoord
#->ExistingField: StaticPressure

=>SOURCETERMS

=>CUSTOM_FLUID_PROPERTIES 

=>AUXTERMS

=>GLOBAL_QUANTITIES:
@AverageDensity = INTEG3D(Density) 
->ExportHistoryToFile: </home/pedro/Documents/d>
@Volume = INTEG3D(1)
->ExportHistoryToFile: </home/pedro/Documents/e>

=>ADDITIONAL_INFORMATION
